<%- include('header.ejs'); %>

            <h3 class="person-h">Adding Person</h3>
            <form action="" method="post" class="person-edit-form">
                <div class="form-group">
                    <label for="existed-person">Choose Existing Person</label>
                    <select id="existed_person" name="existed_person" class="form-control" required>
                        <% persons.forEach((pers, index) => { %>
                            <option><%= pers.name %> (<%= pers._id %>)</option>
                        <% }) %>
                    </select>
                </div>
                <p class="text-center">No needed person in list? Go <a href="/persons/<%= collection %>/add">here</a> to add this person.</p>
                <% if (collection == 'actors') { %>
                    <div class="form-group">
                        <label for="person-role">Role</label>
                        <input type="text" class="form-control" name="person_role" id="person_role" required>
                    </div>
                <% } %>
                
                <button type="submit" class="btn btn-success float-center person-edit-btn">Add Person</button>
            </form>
    </body>
</html>

