<%- include('header.ejs'); %>

        <section class="jumbotron text-center" style="margin-top:10%">
            <div class="container">
                <h1 class="jumbotron-heading"><%= title %></h1>
                <p class="lead text-muted"><%= description %></p>
                <p>
                    <a href="<%= website %>" target="_blank" class="btn btn-secondary my-2">> Official Website</a>
                </p>
            </div>
        </section>

    </body>
</html>