<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title><%= title %></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.0-alpha.1/jspdf.plugin.autotable.min.js"></script>
    <style>
        .film-table {
            margin-top: 5%;
            width: 65%;
            margin: auto;
            text-align: center;
        }
        .film-h {
            text-align: center;
            padding: 0 0 20px 0;
        }
        .film-btn {
            margin-top: 1%;
            text-align: center;
            margin-bottom: 60px;
        }

        .person-h {
            text-align: center;
            margin-top: 5%;
        }

        .person-edit-form {
            width: 40%;
            margin: 30px auto 30px auto;
        }

        .person-edit-btn {
            margin-top: 10%;
        }

        .persons-h {
            margin: 25px 0;
            text-align: center;
        }

        .alert-error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .alert-success_msg {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h1 class="float-left" style="color: lightgray;"><%= title %>DB</h1>
        <div class="collapse navbar-collapse justify-content-md-left" id="navbarsExample08" style="padding-left: 20px;">
                <% if (user) { %>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/films">Films</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/persons/actors">Actors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/persons/producers">Producers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/persons/imppersons">Important Persons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/persons/composers">Composers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/persons/operators">Operators</a>
                        </li>
                    </ul>
                <% } %>
        </div>
            <div class="collapse navbar-collapse" id="navbarsExample081" style="padding-left: 20px; float: right;">
                <ul class="navbar-nav float-right">
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign In</a>
                        </li>
                    <% } %>
                </ul>
            </div>
    </nav>
    <%- messages('messagestemplate', locals) %>